.about {
    position: relative;
}

.aboutCont {
    display: flex;
    justify-content: center;
    align-items: center;

}

.aboutImg {
    width: 30vw;
    border-radius: 50%;
    margin-right: 20rem;
    margin-top: 5rem;
}

.aboutText {
    flex-direction: column;
    position: absolute;
    padding-left: 50rem;
    text-align: end;
    margin-right: 10rem;
}

.aboutTitle {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.aboutSubTitle {
    font-size: 2rem;
    
}