.icon {
    color: $black;
    margin: 0 0.4rem;

    &:hover {
        @extend %hover;
    }
}

.footer {
    // display: flex;
    // justify-content: center;
    margin-top: 3rem;
    margin-left: 5rem;
    padding-bottom: 3rem;
}

.footerMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 4rem;
    background-color: $white;
    border-radius: 4rem;
    &:hover {
        @extend %hover;
        background-color: $prim;
    }
}

