.icon {
    color: $black;
    margin: 0.4rem 0;

    &:hover {
        @extend %hover;
    }
}



.footerMenu {
    position: absolute;
    z-index: 2;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: end;
    width: 4rem;
    height: 12rem;
    background-color: $green;
    border-radius: 4rem;
}

