.icon {
    @extend %icon;
    color: $black;

    &:hover {
        @extend %iconHover;
    }

    @media screen and (max-width: 492px) {
        width: 1rem;   
    }
}

.iconLight {
    @extend %icon;
    color: $white;

    &:hover {
        @extend %iconHover;
        color: $primLight;
    }
}

.footer {

    margin-top: 2rem;
    margin-left: 5rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;

    @media screen and (max-width: 492px) {
        margin-left: 0;
        font-size: 1rem;
     display: flex;
     align-items: center;
     flex-direction: column;
    }
}

.footerMenu {
    @extend %footerMenu;
    background-color: $white;
    &:hover {
        @extend %iconHover;
        background-color: $prim;
    }
    @media screen and (max-width: 492px) {
        width: 6rem;
        height: 2rem;
        padding-top: 0.5rem;
        border-radius: 2rem;
    }
}

.footerMenuLight {
    @extend %footerMenu;
    background-color: $primLight;

    &:hover {
        @extend %iconHover;
        background-color: $secLight;

    }
}

.p {
    color: $white;
    margin-left: 2.5rem;
    @media screen and (max-width: 492px) {
        margin-left: 0;
    }
}

.pLight {
    color: $primLight;
    margin-left: 2.5rem;
}