.header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
}

.headerMenu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;

}

.links {
    text-decoration: none;
    font-weight: bold;
    @extend %textPrim;

    &:hover {
        @extend %hover;

    }
}

.oneIcon {
    margin: 2rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %oneIcon;
    &:hover {
        @extend %hover;
        background-color: $prim;
    }
}

.sticky {
    position: sticky;
    top: 5rem;
}

.blur {
    color: $gray;
    &:hover {
        scale: 100%;
        color: $gray;
        transition: 0.3s;
        text-shadow: 0.1rem 0.1rem $prim;
        background-color: $white;
    }

}
