.header {
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
}

.headerMenu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;

}

.links {
    @extend %links;
    &:hover {
        @extend %hover;
    }
}

.linksLight {
    @extend %links;
    color: $primLight;
    &:hover {
        @extend %hover;
    }
}

.oneIcon {
    @extend %oneIcon;
    
    &:hover {
        @extend %iconHover; 
        background-color: $prim;
    }
}

.oneIconLight {
    @extend %oneIcon;
    background-color: $primLight;
    
    &:hover {
        @extend %iconHover; 
        background-color: $secLight;
    }
}


.headerSide {
    @extend %headerSide;

    &:hover {
        @extend %iconHover;
        background-color: $prim;
    }
}

.headerSideLight {
    @extend %headerSide;
    background-color: $primLight;
    &:hover {
        @extend %iconHover;
        background-color: $secLight;
    }
}

/* Tooltip container */
.tooltipH {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltipH .tooltiptextH {
    font-size: 1.2rem;
    visibility: hidden;
    width: 5rem;
    background-color: $sec;
    color: $white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -40px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltipH .tooltiptextH::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $sec transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipH:hover .tooltiptextH {
    visibility: visible;
    opacity: 1;
}