.home {
    position: relative;
    background-size: cover;
}

.homeCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgHome {
    width: 58vw;
    z-index: 0;
}

.homeText {
    flex-direction: column;
    position: absolute;
    padding-left: 40rem;
    padding-bottom: 10rem;
}

.title {
    font-size: 5rem;
}

.subtitle {
    font-size: 2rem;
}

.dark {
    background-image: url('../../img/fondo13.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;

}

.light {
    background-image: url('../../img/fondo12.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;

}