
.projectGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 0;
    text-align: center;
    margin: 4rem 3rem;
    padding: 0 1rem;
    flex-wrap: wrap;
}

.projectTitle {
    font-size: 2.5rem;
}

.projectLinkGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5rem;
    :hover {
        @extend %hover;
        scale: 110%;
    }
}

.projectLink {
    text-decoration: none;
    @extend %textPrim;
}

.projectLinkLight {
    @extend %textPrimLight;
    text-decoration: none;
}

.projectImg {
    @extend %img;
    border-color: $prim;
}

.projectImgLight {
    @extend %img;
    border-color: $primLight;
}

.column {
    margin: 1rem 0;
}

.indv {
    display: flex;
    align-self: flex-end;
}
