
.projectGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 0;
    text-align: center;
    // border: solid;
    // border-radius: 2rem;
    // border-color: $white;
    margin: 4rem 3rem;
    padding: 0 1rem;
    flex-wrap: wrap;
}

.projectTitle {
    font-size: 2.5rem;
}
.projectLinkGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5rem;

    :hover {
        @extend %hover;
        scale: 110%;
    }
}

.projectLink {
    text-decoration: none;
    @extend %textPrim;
}

.projectImg {
    width: 30vw;
    margin-top: 0.5rem;
    border: solid;
    border-radius: 2rem;
    border-color: $prim;
    border-width: 0.1rem;
}

.column {
    margin: 1rem 0;
}

.indv {
    display: flex;
    align-self: flex-end;
}
