.projectGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 0;
    text-align: center;
    margin: 4rem 3rem;
    padding: 0 1rem;
    flex-wrap: wrap;

    @media screen and (max-width: 492px) {
        margin: 0;
    }
}

.projectGroupTitle {
    font-size: 2.5rem;
    @media screen and (max-width: 492px) {
        font-size: 1.8rem;
    }
}
.projectTitle {
    font-size: 2.5rem;
    @media screen and (max-width: 492px) {
        font-size: 1.2rem;
    }
}

.projectLinkGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5rem;

    :hover {
        @extend %hover;
        scale: 110%;
    }
}

.projectLink {
    text-decoration: none;
    @extend %textPrim;
}

.projectLinkLight {
    @extend %textPrimLight;
    text-decoration: none;
}

.projectImg {
    @extend %img;
    border-color: $prim;

    @media screen and (max-width: 492px) {
        width: 90vw;
        height: 15rem;
    }
}

.projectImgLight {
    @extend %img;
    border-color: $primLight;
}

.column {
    margin: 1rem 0;
}

.indv {
    display: flex;
    align-self: flex-end;
}

.projectImgGroup {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.projectImgGroup::before {
    content: '';
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.projectImgGroup:hover:before {
    opacity: 1;
}

.projectImgGroup .projectImgText {
    @extend %img;

    padding: 5px 15px;
    position: absolute;
    top: 100%;
    background-color: #1e18427e;
}

.projectImgGroup:hover .projectImgText {
    top: 0;
}

.imgText {
    color: $white;
    font-size: 4rem;
}


.projectImgText {
    @extend %flexCenter;
    text-shadow: 4px 4px 2px rgba(0, 238, 204, 0.51);
    font-weight: bolder;
}