.skills {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.skillsIcons {
    width: 60vw;
    margin-top: 2rem;
    margin-left: 10rem;
}

.thumbails {
    width: 10rem;
    margin: 0.7rem;
    
}