%hover {
    scale: 120%;
    color: $white;
}

%textPrim {
    color: $prim;
    text-shadow: 0.2rem 0.2rem $grey;
}

%oneIcon {
    width: 4rem;
    height: 4rem;
    background-color: $prim;
    border-radius: 4rem;
    cursor: pointer;
}