%hover {
    scale: 120%;
    color: $white;
    transition: 0.3s;
    text-shadow: 0.1rem 0.1rem $prim;

}

%textPrim {
    color: $prim;
    //text-shadow: 0.1rem 0.1rem $white;
}

%oneIcon {
    width: 4rem;
    height: 4rem;
    background-color: $white;
    border-radius: 4rem;
    cursor: pointer;
}