/*-- COLORS --*/

$white: #f0fbff;
$prim: #00eecc ;
$sec: #7953b8;
$black: #1A1A17;
$fondo: #1e1842;

//$whiteLight:
$primLight: #08246d ;
$secLight:#31dbef;
//$blackLight:
$fondoLight: #dff8fe;

$grey: #c743d7;
$gold: #EEEF20;
$gray: gray;
$fondo: #1e1842;

/*--FUENTE--*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

$font: 'Bebas Neue', cursive;
$font2: 'Kanit', sans-serif;
$titleSizeResponsive:1.8rem;
$subtitleSizeResponsive:1.2rem;

/*--BREAKPOINTS--*/

$breakpoints: (
    tablet: 768px,
    desktop: 1024px,
    huge: 1920px
);

@mixin media-up($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}