/*-- COLORS --*/

$white: #f0fbff;
$grey: #c743d7;
$gold: #EEEF20;
$prim: #00eecc ;
$black: #1A1A17;
$sec: #7953b8;
$gray: gray;
$fondo: #1e1842;
/*--FUENTE--*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

$font: 'Bebas Neue', cursive;
$font2: 'Kanit', sans-serif;

/*--BREAKPOINTS--*/

$breakpoints: (
    tablet: 768px,
    desktop: 1024px,
    huge: 1920px
);

@mixin media-up($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}