@import './config/variables';
@import './config/extends';
@import './components/header';
@import './components/footer';
@import './components/home';
@import './components/about';
@import './components/skills';
@import './components/projects';

.App {
    height: 100vh;
    font-family: $font2;
    @extend %textPrim;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};
