@import './config/variables';
@import './config/extends';
@import './components/header';
@import './components/footer';
@import './components/home';
@import './components/about';
@import './components/skills';

.App {
    background-image: url('../img/fondo8.jpg');
    height: 100vh;
    font-family: $font2;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.appFooter {
    position: absolute;
    z-index: 2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};
